@import "mixins";

.projects-section {
    width: 100%;
    height: 100vh;
    @include position-center;
    flex-direction: column;
    margin-top: 20vh;
    .projects-title {
        color: white;
    }

    h1 {
        opacity: 0;
        margin-top: 30vh;
    }

    .projects-section-list {
        width: 100%;
        height: max-content;
        flex-wrap: wrap;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        
        .project-list-item {
            width: 500px;
            height: 300px;
            background-color: rgba(0, 0, 0, 0.11);
            cursor: pointer;
            @include position-center;
            flex-direction: column;
            color: rgba(255, 255, 255, 0.507);
            font-size: 13px;
            opacity: 0;
            margin: 40px;
            margin-top: 0px;
            transition: 0.2s ease;
            justify-content: space-evenly;
            text-align: center;

            &:hover{
                background-color: rgba(105, 105, 105, 0.021);
            }

            h3 {
                font-size: 12px;
                font-weight: 400;
                margin: 0px 10%;
                color: rgba(255, 255, 255, 0.507);
                background: none;
            }

            .project-technologies {
                width: 80%;
                background: none;

                .project-technologies-list {
                    list-style: none;
                    @include position-center;
                    justify-content: space-evenly; 
                    background: none;
                    
                    li {
                        margin-right: 10px;
                        flex-wrap: wrap;
                    }
                }
            }

            .links {
                background: none;

                h3 {
                    margin: 0px;
                }
                
            }
            
            .project-description {
                background: none;

                h3 {
                    padding-bottom: 10px;
                }
            }
        }

        .graph-simulation {
            cursor: auto;
        }
    }
}