* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(12, 12, 12);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}